---
import Button from "../Button.astro"
---

<section id="about" class="w-full h-auto flex flex-col justify-center items-center mt-5 text-[#2e2829] px-5">
    <h2 class="text-5xl text-[#b9a868] mt-4">Staff</h2>
    <h3 class="text-xl font-medium italic z-20">Meet Our Team</h3>

    <p>
        Welcome to Camp Half-Blood, the <strong>ultimate haven for demigods</strong> seeking refuge and training in a world teeming with mythological wonders! 
    </p>

    <p>
        Nestled on the picturesque north shore of Long Island, our camp stands as the <strong>paramount Greek demigod training facility</strong>, where the legacy of heroes is forged, 
        friendships are tested, and the adventure of a lifetime awaits.
    </p>

    <p> 
        <strong>Embrace your destiny</strong>, for within these magical borders, you'll find not only safety but a community that understands the challenges and wonders of being a <strong>demigod</strong>.
    </p>

    <Button
      link="#"
      text="Get to know the camp"
      class="mt-6 bg-[#B9A868] text-[#2e2829] border-[#2e2829]"
    />
</section>

<style>
    p {
        max-width: 700px;
        text-wrap: pretty;
        font-size: 1.1rem;
        margin-top: 10px;
    }
</style>