---
const {link, text} = Astro.props;

---

<a href={link}  class=`${Astro.props.class} font-semibold py-3 px-5 uppercase`>{text}</a>

<style>
    a {  
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        border-style: solid;
        border-width: 2px;
        box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
        display: inline-block;
        font-size: 1rem;
        line-height: 23px;
        transition: all 235ms ease-in-out;
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        
    }

    a:hover {
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
        transform: translate3d(0, 2px, 0);
        }

    a:focus {
        box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
        }
</style>