<article class="flex flex-col justify-center items-center">
    <img src="https://i.pinimg.com/564x/56/de/f7/56def7c0365480317202e8585a6c5355.jpg" alt="The Forge" class="size-72 object-cover object-center">
    <h4>The Forge</h4>
    <p class="max-w-1/2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam sint enim ea iste non beatae, optio nobis. Odio minima alias consequuntur ipsum! Recusandae rerum eum numquam veniam consequatur animi suscipit!</p>
</article>

<style>
    img {
        border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
        border-style: solid;
        border-width: 2px;
        box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
        border-bottom-left-radius: 15px 255px;
        border-bottom-right-radius: 225px 15px;
        border-top-left-radius: 255px 15px;
        border-top-right-radius: 15px 225px;
    }
</style>