 
<header id="home" class="min-height w-full relative text-[#F7F3EF]">
    
    <section class="absolute z-20 mt-[250px] ml-[150px]">
        <h1 class="text-5xl lg:text-7xl font-bold uppercase">Camp Half-blood</h1>
        <h3 class="text-3xl lg:text-2xl font-medium my-5 text-pretty max-w-72 sm:max-w-md lg:max-w-xl">“Keeping Young Heroes Safe from Harm (Mostly) For Over Three Millennial”</h3>
        <div class="mt-16 flex items-center gap-3">
            <p class=" text-pretty text-3xl max-w-72 sm:max-w-md lg:max-w-xl">Are you in <span class="underline decoration-wavy decoration-[#f1934b] decoration-3 underline-offset-[10px]">dangerous</span>?</p>
            <img src="./arrow.png" alt="Arrow" class="w-auto h-5">
            <button class="ml-5 shadow-xl hover:shadow-2xl uppercase font-semibold bg-[#f1934b] rounded-md py-3 px-10 text-xl transition-all duration-500 ease-in-out">Enroll Now</button>
        </div>
    </section>

    <img src="/white-mountain.png" alt="The Pantheon Hero Image" class="absolute z-20 -bottom-1">
    <img src="/1.jpg" alt="Hero Image" class="absolute z-1 w-full h-full object-cover object-left-top">
    <div
    class="absolute z-10 bottom-0 top-0 w-full h-full
      bg-gradient-to-l from-transparent via-[#2e2829]/50 via-80% to-[#2e2829]/70"
    >
    </div>
    
    
</header>

<style>
    .min-height{
        min-height: 80vh;
    }
</style>