<nav id="header-nav" class="flex justify-center items-center py-3 text-[#F7F3EF] fixed top-0 z-50 w-full px-5">
    <ul class="flex justify-center gap-8">
        <li><a href="#">Home</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">The Camp</a></li>
    </ul>

    <a href="#"><img src="/logo-white.webp" alt="logo" class="w-20 h-auto"></a>

    <ul class="flex justify-center gap-8">
        <li><a href="#">Services</a></li>
        <li><a href="#">Notable Campers</a></li>
        <li><a href="#">About</a></li>
    </ul>
<nav/>

<style>
    ul {
        width: 400px;
    }
</style>